:coffeescript
    $ ->
        canvas = document.getElementById('canvas')
        ctx = canvas.getContext('2d')
        w = canvas.width
        h = canvas.height
        
        MAXHEIGHT = 13
        CURRHEIGHT = 6
        
        clearCanvas = ->
            canvas.width = canvas.width
            ctx.scale 1, -1
            ctx.translate 150, -440
            ctx.lineWidth = 10
            ctx.lineCap = 'round'
            ctx.strokeStyle = '#592c18'
            ctx.fillStyle = 'green'
            console.log "canvas cleared"
            
        drawTree = (i) ->
            l = 40 + 80 * Math.random()
            
            # draw leaves
            if i <= 1
                ctx.beginPath()
                ctx.arc 0, 0, 25, 0, 2 * Math.PI

                # ctx.arc 0, 0, l * (1 + Math.random()) / 4, 0, 2 * Math.PI
                
                colorRandom = Math.random() * 3
                if colorRandom < 2.5 && colorRandom > 2
                    ctx.fillStyle = "orange"
                else if colorRandom < 3 && colorRandom > 2.5
                    ctx.fillStyle = "yellow"
                else if colorRandom > 1.5 && colorRandom < 2
                    ctx.fillStyle = "#b9f7ed"
                ctx.fill()
            
            if i <= 0
                return
            ctx.save()
            
            # draw a stem
            ctx.beginPath()
            ctx.moveTo 0, 0
            ctx.lineTo 0, l
            ctx.stroke()
            ctx.globalAlpha *= 0.7 + Math.random() * 0.4
            
            # move to end of stem and get smaller
            ctx.translate 0, l
            ctx.scale 0.75, 0.75
            
            # draw right branch
            ctx.save()
            ctx.rotate Math.PI / 20 + Math.random() * 2 / i
            
            # makes tree bushier
            drawTree i-1
            if i > 5
                drawTree i-3

            ctx.restore()
            
            # draw left branch
            ctx.save()
            ctx.rotate -Math.PI / 20 - (Math.random() * 2 / i)
            drawTree i - 1
            if i > 5
                drawTree i-3
            ctx.restore()
            ctx.restore()
            return

        clamp = (x, min, max) ->
            Math.min Math.max(x, min), max


        ctx.save()
        ctx.scale 1, -1
        ctx.translate 150, -440
        ctx.lineWidth = 10
        ctx.lineCap = 'round'
        ctx.strokeStyle = '#592c18'
        ctx.fillStyle = 'green'
        drawTree CURRHEIGHT
        
        ctx.restore()
        sx = 0.75
        ctx.transform 1, 0, sx, 1, -h * sx, 0
        ctx.globalAlpha = 0.2
        ctx.globalCompositeOperation = 'destination-over'
        window.gesture = null

        $('.clear').on 'click', clearCanvas
        $('.grow').click ->
            clearCanvas()
            CURRHEIGHT++
            if CURRHEIGHT <= MAXHEIGHT
                drawTree CURRHEIGHT
            else
                CURRHEIGHT = 5
            return

        $(document).ready ->
            $('.seedtext').hide()
            $('.emptyseedconfirmation').hide()
            $('.seed').click ()->
                id = $(this).attr("name")
                seedtext = $(".seedtext#"+ id)
                seed = $('#seed' + id)
                seedtext.show()
                seed.addClass("active").addClass("visited")
                seedtext.siblings(".seedtext")
                    .hide().removeClass("active")
                $('.emptyseedconfirmation').hide()
                seed.siblings(".seed").removeClass("active")
            $('#emptyseed').click ()->
                $('.emptyseedconfirmation').show()
                $('.seedtext').hide()
                $('.seed').removeClass("active")
                $('#emptyseed').addClass("active")
            $('.emptyseedconfirmation').click ()->
                window.location.href='/home'

            #$(document).click () ->
            #    random_message()

        last_n_averages = (n, x, buffer) ->
            i = undefined
            sum_x = undefined
            average_x = x
            buffer.push x
            sum_x = 0
            i = 0
            while i < buffer.length
              sum_x += buffer[i]
              i++
            average_x = sum_x / buffer.length
            if buffer.length > n
                buffer.shift()
            average_x
        
        random_message = ->
            seedid = (Math.random() * 10).toFixed() # change to number of seeds, not 10
            $("#gesture").html(seedid)
            console.log "another random message"
            seed = $("#seed" + seedid)
            seedtext = $(".seedtext#" + seedid)
            
            seedtext.show()
            seed.addClass("active")
            seedtext.siblings(".seedtext")
                .hide().removeClass("active")
            $('.emptyseedconfirmation').hide()
            seed.siblings(".seed").removeClass("active")

            
        n = 10
        buffer_beta = []
        average_beta = []

        beginning_b = []
        
        window.addEventListener 'deviceorientation', (event) ->
            previous_motion = window.gesture
            console.log "something happening"
        
            beta = event.beta
            b = last_n_averages(n, beta, buffer_beta).toFixed()
            if beginning_b.length == 0
                beginning_b.push(beta)
                
            $(".testing").html("b: " + b + " beginning_b: " + beginning_b)
            average_beta.push b
            if average_beta.length > 2
                average_beta.shift()

            tilt = 20
        
            diff = average_beta[0] - beginning_b[0]
            if diff > tilt || diff < -tilt
                window.gesture = "Pitch"
                seedtochange = $("#seed3")
                bigger = seedtochange.width() * 1.1
                $("#gesture").html("PITCH++")
    
                
            else
                window.gesture = null
                $("#gesture").html("GESTURE")
                #smaller = seedtochange.width() / 1.1
                #$("#seed3").width(smaller)
        
            if window.gesture && previous_motion != window.gesture
                random_message()

.container-fluid
    %canvas#canvas{:height => "400", :width => "280"}
    .button-container
        .button.grow Grow Tree
    // %svg#Layer_1{:space => "preserve", :style => "enable-background:new 0 0 231.8 266.4;", :version => "1.1", :viewbox => "new 0 0 231.8 266.4", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
    //     %path#theMotionPath{:d => d="M0,66.3c0,0,167.8-227,199.6,200.1", :fill => "none"}
    //     %svg{:xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
    //         %image{:height => "20px", :href => "http://www.clker.com/cliparts/D/p/H/E/2/n/apple-seed-hi.png", :width => "40px", :x => "0", :y => "0"}
    //             %animatemotion{:dur => "1.5s", :repeatcount => 1}
    //                 %mpath{"xlink:href" => "#theMotionPath"}

    %div#gesture GESTURE
    %div.testing ASGDAGAD

    %div.grass
        =image_tag("https://preview.c9users.io/samyuktaraman/final-project/littlethings/public/grass.png", width: '100%')
        %div.imgscroll
            - @plants.each do |plant|
                = image_tag plant.plant_pic, :class=> "seed", :id => "seed#{plant.id}", :name => "#{plant.id}"
                // %image{:height => "20px", :href=> "happy_seed.png", :width => "40px"}
        -@plants.each do |plant|
            - if !plant.messages.empty?
                %div{:class => "seedtext", :id => "#{plant.id}", :style => {display: 'none'}}= plant.messages.last.text
        %div.seedtext#1 The way get started is to quit talking and begin doing
        %div.seedtext#2 The pessimist sees difficulty in every opportunity. The optimist sees the opportunity in every difficulty
        %div.seedtext#3 Don’t let yesterday take up too much of today
        %div.seedtext#4 You learn more from failure than from success. Don’t let it stop you. Failure builds character
        %div.seedtext#5 It’s not whether you get knocked down, it’s whether you get up
        %div.seedtext#6 If you are working on something that you really care about, you don’t have to be pushed. The vision pulls you
        %div.seedtext#7 People who are crazy enough to think they can change the world, are the ones who do
        %div.seedtext#8 Failure will never overtake me if my determination to succeed is strong enough
        %div.seedtext#9 Entrepreneurs are great at dealing with uncertainty and also very good at minimizing risk. That’s the classic entrepreneur
        %div.seedtext#10 We may encounter many defeats but we must not be defeated
        %div.emptyseedconfirmation Click this to edit your message

= render :partial => "application/to_home"
    
// IGNORE, BUT KEEP THIS LINE (Back button)   
= render :partial => "application/back_to_root"

:scss
    #canvas{
        width: 100%;
        height: 100%;
        cursor: pointer;
        margin-top: 30px;
        z-index: -9999;
    }
    .container-fluid {
        min-height: 100%;
        padding: 0px;
        background: linear-gradient(#68b0f1, #85d3f3);
        z-index: 0;
    }
    .button-container{
        position: absolute;
        top: 60px;
        width: 100px;
    }
    .button{
        width: 100%;
        height:25px;
        margin-bottom: 5px;
        color: #3b9fed;
        border-style: solid;
        border-width: 2px;
        border-color: #3b9fed;
        background-color: white;
        text-align: center;
        z-index: 100;
    }
    .grass{
        position: relative;
        bottom: 15%;
        z-index: 51;
        // overflow: hidden;
        
        .imgscroll{
            position: absolute;
            bottom: 20%;
            overflow: auto;
            z-index: 9999;
            white-space: nowrap;
        }
        
        .seedtext{
            position: absolute;
            top: -50%;
            left: 5%;
            background: lighten(lightgray, 30%);
            width: 90%;
            height: 65%;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            -webkit-box-shadow:0 0 10px blue; 
            -moz-box-shadow: 0 0 10px blue; 
            box-shadow:0 0 10px blue;
        }
        
        .emptyseedconfirmation{
            position:absolute;
            top: -30%;
            right: 5%;
            background: lighten(lightgray, 30%);
            width: 30%;
            height: 45%;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            -webkit-box-shadow:0 0 10px blue; 
            -moz-box-shadow: 0 0 10px blue; 
            box-shadow:0 0 10px blue;
            z-index: 99999;
        }
        
        .seed{
            width: 17%;
            height: 17%;
        }
        
        #emptyseed{
            width: 14%;
            height: 14%;
        }
    }
    
    .active{
        // border-radius: 5px !important;
        // -webkit-box-shadow:0 0 10px blue !important; 
        // -moz-box-shadow: 0 0 10px blue !important; 
        // box-shadow:0 0 10px blue !important;
        width: 25% !important;
        height: 25% !important;
        bottom: 10% !important;
        // width: 500px;
        // height: 500px;
    }
    
    .visited{
        animation: none !important;
    }

    #Layer_1 {
        position: absolute;
        bottom: 100px;
        z-index: 20;
    }
    .svg {
        z-index: 20;
    }
    #theMotionPath {
        z-index: 20;
    }
    #seed{
        z-index: 50;
    }
    
    // Seed pulse animation
    @keyframes pulse {
        0% {
            transform: scale(1, 1);
        } 50% {
            transform: scale(1.1, 1.1);
        } 100% {
            transform: scale(1, 1);
        };
    }
    
    .seed {
    	animation: pulse 1s linear infinite;
    }
    
    // if clicked, add a class
    // .addClass -> drop shadow, different colors
    // opacity indicates link is being disabled
    // add glow for the one that's selected -- desaturated blue glow
    
    // #seed:hover {
    // 	animation :none;
    // }
    
    // #seed:hover .seedtext {
    // 	visibility: visible;
    // }