.container-fluid.np
    .col-xs-12.col-sm-6.np
        .panel.panel-primary
            .panel-heading 
                %b
                    Practicum 33333
                Technical Vignettes
            .panel-body
                %ul.list-group
                    %li.list-group-item 
                        = link_to map_path do
                            %b #1
                            Maps API
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to branches_path do
                            %b #2
                            Branches
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to home_path do
                            %b #3
                            Home
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to vignette_path do
                            %b #4
                            Vignettes
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to show_location_path do
                            %b #5
                            Locations
                            %span.pull-right.glyphicon.glyphicon-chevron-right

            .panel-footer
                CS160 - Intro to UI Design and Development
   